@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  position: relative;
  width: 100%;
  /* padding: 16px; */
  height: 100vh;
}

html, body, #root {
  font-family: 'Open Sans', 'sans-serif';
}

/* input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
} */

.special-light {
  filter: grayscale(1);
}
.special-dark {
  filter: grayscale(1) invert(1);
}

body.special-dark img,
body.special-dark video,
body.special-dark iframe {
  filter: grayscale(0) invert(1);
}

::selection {
  background-color: #2e7d32;
  color: #fff;
}